.info-container {
	position: relative;
	top: 30%;
	width: 100%;
}
.info-content {
	width: 100%;
	margin: 0 auto;
	color: white;
}
.img-profile {
	// width: 180px;
  height: 180px;
	margin: 0 auto;
  box-shadow: 1px 2px 4px #8B8A8A;
}
.info-text {
	text-align: center;
  line-height: 180px;
  div {
    vertical-align: middle;
    display: inline-block;
  }
}

@media only screen and (min-width : 768px) {
	.info-content {
		width: 80%;
	}
	.info-container {
		top: 40%;
	}
	.info-content {
		width: 75%;
	}
	.info-text {
		text-align: left;
	}
}
@media only screen and (min-width : 992px) {
	.info-content {
		width: 60%;
	}
}