<div class="portfolio-main">
	<h2 class="text-center">Bramble</h2>
	<p class="text-center mb-3">A music playing app with artist image chooser</p>
	
	<div class="row">
		<div class="col-sm-12 col-lg-6 mb-3">
			<img src="img/bramble/albumParallax.gif" class="img-fluid portfolio-pic img-center img-shadow" alt="Bramble"/>
		</div>
		<div class="col-sm-12 col-lg-6">
			<ul>
				<li>Find music from artists, albums, and songs.</li>
				<li>Automatically finds images for artists in your library.</li>
				<li>If an artist's image is wrong, search for a new replacement.</li>
				<li>Tap or slide up on the bottom song bar to focus on whatever's Now Playing.</li>
				<li>Parallax scrolling!</li>
			</ul>
		</div>
	</div>
	<hr/>
	
	<div class="text-center">
		<p class="mb-1">This app is not available on the Play Store, but you can view and download the source from GitHub to try it out.</p>
		<a href="https://github.com/mcnedward/bramble-music-app.git">Bramble on GitHub</a>
	</div>
	<hr/><br/>
	
	<div class="row text-center">
		<div class="col-sm-12 col-lg-6 mb-2">
			<img src="img/bramble/artistView.jpg" class="mb-1 img-fluid portfolio-pic img-shadow" alt="Artist View"/>
			<h4>Artist View</h4>
		</div>
		<div class="col-sm-12 col-lg-6 mb-2">
			<img src="img/bramble/artistImageChooserView.jpg" class="mb-1 img-fluid portfolio-pic img-shadow" alt="Artist Image Chooser"/>
			<h4>Artist Image Chooser</h4>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-sm-12 col-lg-6 mb-2">
			<img src="img/bramble/artistAlbumView.jpg" class="mb-1 img-fluid portfolio-pic img-shadow" alt="Artist Album View"/>
			<h4>Artist Album View</h4>
		</div>
		<div class="col-sm-12 col-lg-6 mb-2">
			<img src="img/bramble/albumView.jpg" class="mb-1 img-fluid portfolio-pic img-shadow" alt="Album View"/>
			<h4>Album View</h4>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-sm-12 col-lg-6 mx-auto pull-xs-none mb-2">
			<img src="img/bramble/nowPlayingView.jpg" class="mb-1 img-fluid portfolio-pic img-shadow" alt="Now Playing View"/>
			<h4>Now Playing View</h4>
		</div>
	</div>
</div>
