<div class="portfolio-main text-center">
	<h3>Number Printer</h3>
	<h5 class="mb-1">Enter a number to convert!</h5>
	<div class="mb-1">
		<input id="txtNumber" class="p-a-1 text-center" max-length="4" type="text" data-ng-model="number.search"/>
	</div>
	<div class="mb-1">
		<span class="ebtn ebtn-green" data-ng-click="convertToEnglish()">To English</span>
		<span class="ebtn ebtn-blue" data-ng-click="convertToRomanNumeral()">To Roman Numeral</span>
	</div>
	<div class="mb-1">{{result}}</div>
	<div class="text-danger mb-1">{{errorMessage}}</div>
</div>