<div id="main" class="container-fluid pb-4">
  <div id="content" class="mx-auto d-block" data-bind="style: {width: width}">
    <div id="canvasContainer" data-animation="false" data-placement="bottom" title="The regions on the map will be colored with a hex based on the current time in their time zone.">
      <canvas id="theCanvas" data-bind="attr: {width: width, height: height}"></canvas>
    </div>

    <div>
      <div class="row">
        <div class="col">
          <div class="float-right" id="opacityControl" data-animation="false" data-placement="top" title="You can choose the opacity of the time zone colors.">
            <label for="opacitySlider">Opacity <span data-bind="text: opacity"></span>%</label>
            <input id="opacitySlider" type="range" min="0" max="100" data-bind="value: opacity" />
          </div>
        </div>
        <div class="col">
          <label class="custom-control custom-checkbox no-select" id="showTimesControl" data-animation="false" data-placement="top"
            title="Choose this to switch between showing the times for every time zone, or to show the time of the zone you are hovering over.">
            <input type="checkbox" class="custom-control-input" data-bind="checked: showTimes">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Show all times</span>
            </label>
            <label class="custom-control custom-checkbox no-select" id="showColorsControl" data-animation="false" data-placement="top"
              title="Choose this to show every time zone and their current color, or to show just the current color of the zone you are hovering over.">
              <input type="checkbox" class="custom-control-input" data-bind="checked: colorAllZones">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Color all zones</span>
              </label>
        </div>
      </div>
    </div>
  </div>

  <div id="colorControl" class="text-uppercase" style="display: none;" data-bind="with: colorPicker, visible: true" role="tablist"
    aria-multiselectable="true">
    <div class="row">
      <span class="col" id="hoursControl" data-animation="false" data-placement="top" title="Choose the color updated by the hour...">
          <a data-toggle="collapse" class="btn btn-block" data-bind="css: hoursColor"
          data-parent="#colorControl" href="#hoursContainer" aria-expanded="true" aria-controls="hoursContainer">Hours</a>

          <div id="hoursContainer" class="collapse" role="tabpanel">
            <div class="card-block mt-2">
              <button class="btn btn-danger btn-block mb-2" data-bind="click: update.bind($data, 'hours', 'red')">RED</button>
              <button class="btn btn-success btn-block mb-2" data-bind="click: update.bind($data, 'hours', 'green')">GREEN</button>
              <button class="btn btn-primary btn-block mb-2" data-bind="click: update.bind($data, 'hours', 'blue')">BLUE</button>
            </div>
          </div>
        </span>

      <span class="col" id="minutesControl" data-animation="false" data-placement="top" title="And the color updated by the minute...">
          <a data-toggle="collapse" class="btn btn-block" data-bind="css: minutesColor"
          data-parent="#colorControl" href="#minutesContainer" aria-expanded="true" aria-controls="minutesContainer">Minutes</a>

          <div id="minutesContainer" class="collapse" role="tabpanel">
            <div class="card-block mt-2">
              <button class="btn btn-danger btn-block mb-2" data-bind="click: update.bind($data, 'minutes', 'red')">RED</button>
              <button class="btn btn-success btn-block mb-2" data-bind="click: update.bind($data, 'minutes', 'green')">GREEN</button>
              <button class="btn btn-primary btn-block mb-2" data-bind="click: update.bind($data, 'minutes', 'blue')">BLUE</button>
            </div>
          </div>
        </span>

      <span class="col" id="secondsControl" data-animation="false" data-placement="top" title="And also the color updated by the second.">
          <a data-toggle="collapse" class="btn btn-block" data-bind="css: secondsColor"
          data-parent="#colorControl" href="#secondsContainer" aria-expanded="true" aria-controls="secondsContainer">Seconds</a>

          <div id="secondsContainer" class="collapse" role="tabpanel">
            <div class="card-block mt-2">
              <button class="btn btn-danger btn-block mb-2" data-bind="click: update.bind($data, 'seconds', 'red')">RED</button>
              <button class="btn btn-success btn-block mb-2" data-bind="click: update.bind($data, 'seconds', 'green')">GREEN</button>
              <button class="btn btn-primary btn-block mb-2" data-bind="click: update.bind($data, 'seconds', 'blue')">BLUE</button>
            </div>
          </div>
        </span>
    </div>
</div>
</div>