<div>
	<h2 class="mb-3 text-center">Contact or Hire Me!</h2>
	<form data-ngForm name="form" novalidate class="mb-1">
		
		<div class="form-group">
			<label for="email" class="font-lg">Email</label>
			<input class="form-control" name="email" type="email" aria-describedby="email" placeholder="Your email" required
				data-ng-model="contactInfo.email" maxlength="{{emailMaxLength}}" data-ng-maxlength="emailMaxLength">
			<div data-ng-show="form.$submitted || form.email.$touched" class="text-danger">
		      	<div data-ng-show="form.email.$error.required">You need to enter an email!</div>
		      	<div data-ng-show="form.email.$error.email">You need a valid email!</div>
		    </div>
		</div>
		
		<div class="form-group form-group-material">
			<label for="subject" class="font-lg">Subject</label>
			<input class="form-control" name="subject" type="text" aria-describedby="subject" placeholder="Your subject" required
				data-ng-model="contactInfo.subject" maxlength="{{subjectMaxLength}}" data-ng-maxlength="subjectMaxLength">
			<span class="small">{{subjectLength()}} / {{subjectMaxLength}}</span>
			<div data-ng-show="form.$submitted || form.subject.$touched" class="text-danger">
	      		<div data-ng-show="form.subject.$error.required">You need a subject!</div>
		    </div>
		</div>
		
		<div class="form-group form-group-material">
			<label for="message" class="font-lg">Message</label>
			<textarea rows="6" cols="50" name="message" class="form-control" aria-describedby="message" placeholder="Your message" required
				data-ng-model="contactInfo.message" maxlength="{{messageMaxLength}}" data-ng-maxlength="messageMaxLength" />
			<span class="small">{{messageLength()}} / {{messageMaxLength}}</span>
			<div data-ng-show="form.$submitted || form.message.$touched" class="text-danger">
	      		<div data-ng-show="form.message.$error.required">You need a message!</div>
		    </div>
		</div>
		
		<div class="row mb-2">
			<div class="col-md-6">
				<div class="content-recaptcha mb-2" vc-recaptcha data-ng-model="contactInfo.recaptchaResponse" key="'6LcIzQgUAAAAAAtgSLJ84VTOI7wXEuSZquyasLoQ'"></div>
				<div data-ng-show="form.$submitted || form.recaptcha" class="text-danger text-xs-center text-md-left">You need to complete the reCaptcha!</div>
			</div>
			<div class="col-md-6">
				<span class="ebtn ebtn-full font-lg" data-ng-class="isFormSubmitted ? 'ebtn-disabled' : 'ebtn-green'" data-ng-click="submitContact(form, contactInfo)">Contact</span>
			</div>
		</div>
	</form>
	<div class="text-center text-success"><h5>{{contactSuccessMessage}}</h5></div>
	<div class="text-center text-danger"><h5>{{contactErrorMessage}}</h5></div>
</div>