<div class="text-center">
	<h2 class="mb-3">Portfolio</h2>
	<div class="container">

		<div class="row">
			<div class="col-sm-12 col-lg-6 mb-3">
				<div class="portfolio-item">
					<a href="http://www.eatingcinci.com">
					<span class="portfolio-pic-contain">
						<img class="portfolio-pic img-fluid img-shadow mb-3" src="img/portfolio-pics/eatingcinci.png" alt="Eating Cinci"/>
					</span></a>
					<h4>Eating Cinci</h4>
				</div>
			</div>
			<div class="col-sm-12 col-lg-6 mb-3">
				<div class="portfolio-item">
					<a ui-sref="ii">
					<span class="portfolio-pic-contain">
						<img class="portfolio-pic img-fluid img-shadow mb-3" src="img/ii/ii.png" alt="Inheritance Inquiry"/>
					</span></a>
					<h4>Inheritance Inquiry</h4>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 col-lg-6 mb-3">
				<div class="portfolio-item">
					<a ui-sref="parser">
						<span class="portfolio-pic-contain">
							<img class="portfolio-pic img-fluid img-shadow mb-3" src="img/portfolio-pics/parser.png" alt="Parser"/>
						</span>
					</a>
					<h4>Parser</h4>
				</div>
			</div>
			<div class="col-sm-12 col-lg-6 mb-3">
				<div class="portfolio-item">
					<a ui-sref="colorZones">
						<span class="portfolio-pic-contain">
							<img class="portfolio-pic img-fluid img-shadow mb-3" src="img/portfolio-pics/colorZones.png" alt="Color Zones"/>
						</span>
					</a>
					<h4>Color Zones</h4>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 col-lg-6 mb-3">
				<div class="portfolio-item">
					<a ui-sref="bramble">
						<span class="portfolio-pic-contain">
							<img class="portfolio-pic img-fluid img-shadow mb-3" src="img/bramble/artistView.png" alt="Bramble"/>
						</span>
					</a>
					<h4>Bramble</h4>
				</div>
			</div>
			<div class="col-sm-12 col-lg-6 mb-3">
				<div class="portfolio-item">
					<a ui-sref="keepfit">
						<span class="portfolio-pic-contain">
							<img class="portfolio-pic img-fluid img-shadow mb-3" src="img/keepfit/keepfit.png" alt="KeepFit"/>
						</span>
					</a>
					<h4>KeepFit</h4>
				</div>
			</div>
		</div>
    
		<div class="row">
			<div class="col-sm-12 col-lg-6 m-x-auto pull-xs-none mb-3">
				<div class="portfolio-item">
					<a ui-sref="numberPrinter">
						<span class="portfolio-pic-contain">
							<img class="portfolio-pic img-fluid img-shadow mb-3" src="img/portfolio-pics/numberPrinter.png" alt="Number Printer"/>
						</span>
					</a>
					<h4>Number Printer</h4>
				</div>
			</div>
      
			<div class="col-sm-12 col-lg-6 mb-3">
				<div class="portfolio-item">
					<a ui-sref="blackjack">
					<span class="portfolio-pic-contain">
						<img class="portfolio-pic img-fluid img-shadow mb-3" src="img/portfolio-pics/blackjack.png" alt="Blackjack"/>
					</span></a>
					<h4>Blackjack</h4>
				</div>
			</div>
		</div>

	</div>
</div>